<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.labor.dao.UserMapper">

    <resultMap id="User" type="com.labor.entity.UserEntity" >
        <result column="unit" property="unit" jdbcType="LONGVARCHAR" />
    </resultMap>

    <select id="login" resultMap="User">
        select
        id             as "id",
        username       as "userName",
        password       as "passWord"
    from shopping_user
    where username = {#userName} and password = {#passWord}
    </select>


    <select id="selectUserByID" resultMap="User" parameterType="int">
        select id, username, password
          from shopping_user
      where id = #{id}
    </select>
</mapper>